/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
