/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

p {
  font-size: 30px;
  margin: 30px;
  background: lightblue;
  text-align: center;
  height: 100px;
}
/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
