/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
    padding: 20px 30px 20px 0;
    margin: 0 0 0 40px;
    background: rgb(170, 76, 170);
    color: skyblue;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
    padding: 20px 0 20px 0;
    border-top: 2px  solid darkgreen;
    border-bottom: 2px  solid darkgreen;
    background: orange;

}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section {
    border: 10px solid blue;
    height: 300px;
    margin-top: 401px;
}			
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span {
    border: 2px solid yellow;
    padding: 5px;
    margin: 5px;
    background: linear-gradient(
-119deg,
$gray 0%,
$dark-gray 100%); }
}